<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        colors="true"
        cacheDirectory=".tempest/cache/phpunit"
        displayDetailsOnTestsThatTriggerDeprecations="true"
        displayDetailsOnTestsThatTriggerErrors="true"
        displayDetailsOnTestsThatTriggerNotices="true"
        displayDetailsOnTestsThatTriggerWarnings="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Ui">
            <directory>tests/Ui</directory>
        </testsuite>
        <testsuite name="E2e">
            <directory>tests/E2E</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">app</directory>
        </include>
        <exclude>
            <directory>app/views</directory>
        </exclude>
    </source>
    <php>
        <env name="ENVIRONMENT" value="testing"/>
        <env name="BASE_URI" value="http://localhost"/>
        <env name="CACHE" value="null"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="YOUTUBE_API_KEY" value=""/>
        <env name="YT_DLP_SLEEP_INTERVAL" value="0"/>
        <env name="YT_DLP_SLEEP_REQUESTS" value="0"/>
        <env name="DATA_PATH" value="/tmp/tubecast-test"/>
        <env name="DOWNLOADS_PATH" value="/tmp/tubecast-test/downloads"/>
        <env name="PODCAST_PATH" value="/tmp/tubecast-test/podcast"/>
    </php>
</phpunit>
